@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*{
  margin:0;
  padding:0;
}
body{
  font-family: 'Lato', sans-serif;
  background-color: #fafbfe;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* .remote-text{
  margin-top: 1em;
} */
.section-1{
  /* margin-top: 0; */
  width: 100%;
 background: url('https://images.unsplash.com/photo-1580752300969-1ceaaa1f3039?ixlib=rb-1.2.1&auto=format&fit=crop&w=1534&q=80'); 
  background-position: center;
  height: 40vh;
}
.section-1-content{
  margin-top: 0;
  font-size: 1.2em;
  color: white;
  text-align: center;
}
.jobs{
  display:flex;
  flex-wrap: wrap;
  flex: 1 1 auto;
}
.job{
  flex-direction: column;
  align-self: auto;
  align-items: stretch;
  padding: 25px;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 320px;
  border-radius: 6px  0  0 6px;
  box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
  border-left: 3px solid rgb(243, 37, 37);
}
.action-button{
  display: none;
}

.job:hover .action-button{
    display: flex;
  }